@import '../../styles/vars';
@import '../../styles/extends';

.pagination {
  @extend %flex-horizontal-centering;
  flex-wrap: wrap;
  gap: 10px;

  &__item {
    &:first-child {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: 15px;
    }
  }

  &__button {
    @extend %flex-vertical-centering;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 2px solid $color-border-card;
    border-radius: 50%;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: $color-text-pagination;

    &:hover {
      border-color: $color-text-pagination;
    }

    &:disabled {
      border: 2px solid $color-border-card;
      color: $color-border-card;
      cursor: default;
    }

    &--active {
      border-color: $color-text-pagination;
    }
  }

  &__icon {
    height: 20px;
    color: $color-icon;
  }
}
