@import '../../styles/vars';

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  &__item {
    &:first-child {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: 15px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid $color-border-card;
    border-radius: 50%;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #232323;

    &:hover {
      border-color: #232323;
    }

    &:disabled {
      border: 2px solid $color-border-card;
      color: $color-border-card;
      cursor: default;
    }

    &--active {
      border-color: #232323;
    }
  }

  &__icon {
    height: 20px;
    color: #757575;
  }
}
