@import '../../styles/vars';
@import '../../styles/extends';

.products {
  padding: 40px 20px 0;
  margin-bottom: 80px;
  
  &__title {
    margin-bottom: 16px;
    
    @extend %text-title;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}