@import '../../styles/vars';
@import '../../styles/extends';
@import '../../styles/mixins';

.products {
  padding: 40px 20px 0;
  margin-bottom: 80px;
  
  &__title {
    margin-bottom: 16px;
    
    @extend %text-title;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    
    @include onLaptop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include onTablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include onMobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}