@import '../../styles/vars';
@import '../../styles/mixins';

.product {
  display: flex;
  flex-direction: column;
  border: 3px solid $color-border-card;

  transition: transform $transition-time;

  &:hover {
    transform: scale(105%);
  }

  &__image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }

  &__image {
    position: absolute;
    @include square(100%);

    object-fit: cover;
    object-position: center;
  }

  &__description {
    padding: 0 28px;
    margin-bottom: 28px;
  }

  &__category {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: $color-main;
  }

  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    color: $color-main;
  }
}
