.product {
  border: 3px solid #F2F2F2;

  &__description {
    padding: 0 28px;
    margin-bottom: 28px;
  }

  &__category {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #232323;
  }

  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    color: #232323;
  }
}
