@import '../../styles/vars';
@import '../../styles/extends';

.content {
  @extend %flex-horizontal-centering;
  flex: 1;

  &__wrapper {
    @extend %flex-vertical-centering;
    width: $width-container;
    justify-content: center;
  }
}
