@import '../../styles/vars';
@import '../../styles/extends';

.header {
  @extend %flex-horizontal-centering;
  background-color: $color-main;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $width-container;
    height: 80px;
    padding: 0 20px;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    transition: transform $transition-time;

    &:hover {
      transform: scale(105%);
    }
  }

  &__menu {
    display: flex;
  }

  &__item {
    margin-left: 55px;
  }

  &__link {
    line-height: 24px;
    text-transform: uppercase;
    color: $color-white;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      text-decoration: underline;
    }
  }
}
