@import './styles/reset';

html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  overflow-y: scroll;
}
