@import '../../styles/vars';
@import '../../styles/extends';
@import '../../styles/mixins';

.slider {
  padding: 40px 114px;
  transform: translate(0);

  &__title {
    margin-bottom: 14px;

    @extend %text-title;
  }

  &__items {
    max-width: 85vw;

    @include onDesktop {
      max-width: 1331px;
    }
  }
}

:global(.swiper-button-prev),
:global(.swiper-button-next) {
  display: none;

  &:hover::after {
    border-color: $color-main;
  }
}

:global(.swiper-button-prev::after),
:global(.swiper-button-next::after) {
  position: fixed;

  @include square(68px);

  background: url('../../assets/img/arrow_right.svg') no-repeat center $color-white;
  border: 1.7px solid $color-border-button;
  border-radius: 50%;
  box-shadow: 0px 3.4px 170px rgba(0, 0, 0, 0.1);
  color: transparent;

  transition: $transition-time;
}

:global(.swiper-button-prev::after) {
  transform: translateX(-20px) rotate(180deg);
}

:global(.swiper-button-next::after) {
  transform: translateX(20px);
}
